.gallery-section{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out,transform 1s ease-in-out;
}

.gallery-section.visible{
    opacity: 1;
    transform: translateY(0);
}

.gallery-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    /* border: 2px solid #33b7d1; */
}